%head
  %title test
  %meta{:content => "4", "http-equiv" => "refresh"}

.col-md-14
  .overview-name
    %font
      = @random.first_name
    %font
      = @name
    - if @negative == true    
      .overview-balance-negative
        %font
          = number_to_currency @random.account_balance
    - else
      .overview-balance-positive      
        %font
          = number_to_currency @random.account_balance
